.heading {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 6rem;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    height: 8vh;
}

.menu {
    background: lightgray;
    height: 5vh;
}

.body {
    height: 75vh;
    background-color: darkblue;
    color: orange;

}

.footer {

}